

html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 0px;
  margin: 0px;
}


.grid {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 50vh 50vh 40px;
  grid-template-areas: 
      "h h"
      "p1 p2"
      "p3 p4"
      "f f";
}

.header {
  grid-area: h;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.p4 {
  grid-area: p4;
}

.footer {
  grid-area: f;
}